<p>single-card works!</p>
<p *ngIf="!response&&!errorResponse"><em>Loading...</em></p>
<div *ngIf="errorResponse" class="alert alert-danger">
    <p>{{errorResponse}}</p>
</div>
<div *ngIf="response" class="card">
    <div class="card-body">
        <div *ngIf="response.active||role=='admin'" class="card-text">
            <p>Username: {{response.userName}}</p>
            <p>Published: {{response.published}}</p>
            <p>Publicity: {{response.publicity}}</p>
            <p>Tags:</p>
            <ul *ngFor="let item of response.tagsNames" >
                <li>{{item}}</li>
            </ul>
            <p>SphereName: {{response.sphereName}}</p>
            <p>Text:<br>
                {{response.text}}</p>
        </div>
        <div *ngIf="!response.active">
            <p>BANNED</p>
            <p>Banned by {{response.adminName}}</p>
            <p>Reason:<br>
                {{response.statusText}}</p>
        </div>
    </div>
</div>
<div *ngIf="username&&username==cardUserName">
    <button class="btn btn-primary" (click)="goToEdit()"[disabled]="disableButton">Edit</button>
    <button class="btn btn-danger" (click)="submitDelete()"[disabled]="disableButton">Delete</button>
</div>
<div>
    <br>
    <button class="btn btn-primary" *ngIf="role=='admin'" (click)="showBanForm()"[disabled]="disableButton">Ban</button>
</div>
<form [formGroup]="banForm" *ngIf="banButtonPressed">
    <p>Reason</p>
    <p><textarea  formControlName="reason" cols="100" rows="7" placeholder="Reason" required></textarea></p>
    <button class="btn btn-primary" (click)="stopShowBanForm()" [disabled]="disableBanButton">Cancel</button>
    <button class="btn btn-danger" (click)="submitBan()" [disabled]="disableBanButton">Ban</button>
</form>
<button class="btn btn-primary" (click)="submitUnBan()" *ngIf="role=='admin'&&cardIsBanned">Unban</button>
