<p>cards works!</p>
<p *ngIf="!response&&!errorResponse"><em>Loading...</em></p>
<div class="row">
    <div class="col-9">
        <div *ngIf="errorResponse">
            <p>{{errorResponse}}</p>
        </div>
        <div *ngIf="response">
            <div *ngFor="let responseItem of response" class="card" >
                <div class="card-body">
                    <p>Username: {{responseItem.userName}}</p>
                    <p>Published: {{responseItem.published}}</p>
                    <p>Publicity: {{responseItem.publicity}}</p>
                    <p>Tags:</p>
                    <ul *ngFor="let item of responseItem.tagsNames" >
                        <li>{{item}}</li>
                    </ul>
                    <p>SphereName: {{responseItem.sphereName}}</p>
                    <p>Text:<br>
                        {{responseItem.text}}</p>
                    <p *ngIf="role=='admin'">Active: {{responseItem.active}}</p>
                    <a class="card-link" [routerLink]="['/cards/', responseItem.id]"
                        >More...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <p *ngIf="!dbInfoService.operationEnds">Loading...</p>
        <form [formGroup]="form" *ngIf="dbInfoService.operationEnds">
            <p>UserName<br><input formControlName="userName" placeholder="UserName"></p>
            <p *ngIf="role=='admin'"><input formControlName="privacy" type="checkbox">Private</p>
            <p>From<br>
                <input type="date" formControlName="dateFrom">
            </p>
            <p>To<br>
                <input type="date" formControlName="dateTo">
            </p>
            <p>SphereName<br>
                <select formControlName="sphereName">
                    <option></option>
                    <option *ngFor="let sphere of dbInfoService.spheres">{{sphere}}</option>
                </select>
            </p>
            <p>Tags<br>
                <select formControlName="tagsNames" multiple >
                    <option></option>
                    <option *ngFor="let tag of dbInfoService.tags">{{tag}}</option>
                </select>
            </p>
            <button class="btn btn-info" (click)="search()"[disabled]="disableButton">Search</button>
        </form>
    </div>

</div>