<p>create-card works!</p>
<p *ngIf="errorResponse">{{errorResponse}}</p>
<form [formGroup]="form">
    <p><input formControlName="privacy" type="checkbox">Private</p>
    <p>SphereName<br>
        <select formControlName="sphereName">
            <option></option>
            <option *ngFor="let sphere of dbInfoService.spheres">{{sphere}}</option>
        </select>
    </p>
    <p>Tags<br>
        <select formControlName="tagsNames" multiple >
            <option></option>
            <option *ngFor="let tag of dbInfoService.tags">{{tag}}</option>
        </select>
    </p>
    <p>Text</p>
    <p><textarea  formControlName="text" cols="100" rows="7" placeholder="Text" required></textarea></p>
    
    <button class="btn btn-primary" *ngIf="creating" (click)="submitCreate()"[disabled]="disableButton">Create</button>
    <button class="btn btn-primary" *ngIf="!creating" (click)="submitEdit()"[disabled]="disableButton">Edit</button>
</form>