<p>user-card works!</p>

<p *ngIf="!response&&!errorResponse"><em>Loading...</em></p>
<div *ngIf="errorResponse">
    <p>{{errorResponse}}</p>
</div>
<div *ngIf="response">
    <h2><a class="badge badge-primary" [routerLink]="['/create']">Create card</a></h2>
    <div *ngFor="let responseItem of response" class="card">
        <div class="card-body">
            <p>Username: {{responseItem.userName}}</p>
            <p>Published: {{responseItem.published}}</p>
            <p>Publicity:{{responseItem.publicity}}</p>
            <p>Tags:</p>
            <ul *ngFor="let item of responseItem.tagsNames" >
                <li>{{item}}</li>
            </ul>
            <p>SphereName:{{responseItem.sphereName}}</p>
            <p>Text:<br>
                {{responseItem.text}}</p>
            <p *ngIf="role=='admin'">Active:{{responseItem.active}}</p>
            <a class="card-link" [routerLink]="['/cards/', responseItem.id]"
                >More...</a>
        </div>
    </div>
</div>