<p>registration works!</p>
<div *ngIf="response&&response.message" class="alert alert-primary">
    <p>{{response.message}}</p>
</div>
<div *ngIf="formErrors"class="alert alert-danger">
    <p *ngIf="formErrors.UserName">{{formErrors.UserName}}</p>
    <p *ngIf="formErrors.Password">{{formErrors.Password}}</p>
</div>

<form [formGroup]="form" (submit)="submit()" class="col-5">
    <div class="form-group">
        <label for="inputUserName2">User Name</label>
        <input formControlName="username" class="form-control" id="inputUserName2" placeholder="UserName" required>
    </div>
    <div class="form-group">
        <label for="inputPassword2">Password</label>
        <input formControlName="password" class="form-control" id="inputPassword2" type="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input type="checkbox" formControlName="rules" class="form-check-input" id="exampleCheck1"required>
        <label class="form-check-label" for="exampleCheck1">Accept Terms of Service</label>
    </div>
    <button class="btn btn-primary" type ="submit"[disabled]="disableButton">Registration</button>
</form>